<link rel="stylesheet" href="/css/styles.css">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
<nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Art Attack</label>
      <ul>
        <li><a class="active" th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/register}">Register</a></li>
 

      </ul>
    </nav>
    <section></section>

<body>
  <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <div class="stack">
    <div class="imagewrap">
      <img src="https://media.istockphoto.com/photos/young-woman-hanging-art-picture-on-wall-and-decorating-living-room-picture-id1311835569?b=1&k=20&m=1311835569&s=170667a&w=0&h=LQrWv8xxw7mWTGt0TBQbGr77OBeKD_iJ1bOitDJvpTU=" class="confirmed" />
    </div>
    <div class="imagewrap">
      <img src="https://media.istockphoto.com/photos/africanamerican-man-looking-at-modern-art-picture-id1280209674?b=1&k=20&m=1280209674&s=170667a&w=0&h=Cde8Zx1Pkof0FSI-hZsNF6zRvBnOi2ndJL9r4E7khew=" class="confirmed"/>
    </div>
    <div class="imagewrap">
      <img src="https://images.unsplash.com/photo-1586538883481-8ccbcff0b39d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="confirmed" />
    </div>
    <div class="imagewrap">
      <img src="https://media.istockphoto.com/photos/japanese-man-spending-weekend-morning-painting-in-his-bedroom-at-home-picture-id1321486723?b=1&k=20&m=1321486723&s=170667a&w=0&h=HLBKvNa6dOXbTp_1Hp57hdFjQ5zO-atmsf9YFfMlQFI=" class="confirmed" />
    </div>
    <div class="imagewrap">
      <img src="https://images.unsplash.com/photo-1561490497-43bc900ac2d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGFydHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="confirmed" />
    </div>
  </div>
  <script src="/js/myscript.js"></script>
</body>